/* .big-img {
  height: 483px;
}

.small-img {
  width: inherit;
} */
.container-product-slider {
  display: inline-block;
  height: 483px;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
}

.secondary-container-0 {
  transition: transform 0.5s ease-in;
  transform: translateX(0px);
}

.secondary-container-500 {
  transition: transform 0.5s ease-in;
  transform: translateX(-500px);
}

.secondary-container-1000 {
  transition: transform 0.5s ease-in;
  transform: translateX(-1000px);
}

.secondary-container-1500 {
  transition: transform 0.5s ease-in;
  transform: translateX(-1500px);
}

.img-container {
  display: inline-block;
  height: 483px;
  width: 500px;
}

.img-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
