@import "~antd/dist/antd.less";
@primary-color: #1da57a;

// Styles for Header. To override Ant design styles, you need to declare variables.
@display-flex: "flex";
@align-items-center: "center";
@font-family-helvetica: "Helvetica";
@justify-content-space-between: "space-between";
@position-fixed: "fixed";
@width-100: "100%";
@z-index-999: 999;

.main-header {
  align-items: @align-items-center;
  display: @display-flex;
  font-family: @font-family-helvetica;
  justify-content: @justify-content-space-between;
  position: @position-fixed;
  width: @width-100;
  z-index: @z-index-999;
}

.mobile-header {
  display: none;
  height: 64px;
  width: @width-100;
  position: @position-fixed;
  background-color: #001529;
  z-index: @z-index-999;
  align-items: center;
  .nav-button-mobile {
    height: 35px;
    width: 35px;
    background-color: #001529;
    border: none;
    .nav-button-icon {
      font-size: 2em;
      color: rgb(166 173 180);
    }
  }
}
.auto-complete {
  width: 300px;
}

.mobile-cart-btn {
  margin-left: auto;
  margin-right: 7px;
}

// Home Page

.logo-cont {
  width: 265px;
  margin: 40px auto 40px;
  .logo-img {
    width: 100%;
  }
}

.home-main-cont {
  height: 50%;
  .home-carousel {
    margin: 50px auto 50px;
    width: 780px;
  }
}

.home-carousel-cont {
  background-image: url(./img/bckgrnd_home_carousel.jpg);
}

.home-carousel-slide-ant {
  .home-carousel-slide-own {
    width: 100%;
    display: flex;
    margin-bottom: 55px;
    .home-carousel-slide-imgtitle {
      margin: auto;
      font-size: 3em;
    }
    .home-carousel-slide-cont-img {
      width: 360px;
      margin-left: auto;
      .home-carousel-slide-img {
        width: 100%;
      }
    }
  }
}

// Styles for Device Page. To override Ant design styles, you need to declare variables.

.cont-description {
  padding-top: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.cont-imgcarousel-and-featuresblock {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  align-items: center;
  justify-content: center;

  .img-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-product-slider {
      background-color: white;
      display: inline-block;
      height: 483px;
      overflow: hidden;
      white-space: nowrap;
      width: 500px;
      .secondary-container {
        &-0 {
          transform: translateX(0px);
          transition: transform 0.5s ease-in;
        }
        &-500 {
          transform: translateX(-500px);
          transition: transform 0.5s ease-in;
        }
        &-1000 {
          transform: translateX(-1000px);
          transition: transform 0.5s ease-in;
        }
        &-1500 {
          transform: translateX(-1500px);
          transition: transform 0.5s ease-in;
        }
      }
    }
  }

  .features-block {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    max-width: 400px;
    .features-block-h1 {
      margin-bottom: 10%;
      color: #001529;
    }
    .features-block-btn-addtocart {
      margin-bottom: 5%;
    }
    .features-block-memory,
    .features-block-color {
      margin-bottom: 7%;
      h6 {
        color: #9d9ea0;
      }
    }
    .features-block-characteristics {
      background-color: #f0f2f5;
      list-style: none;
      color: #9d9ea0;
      padding: 0;
    }
  }
}

.img-container {
  cursor: pointer;
  display: inline-block;
  height: 483px;
  width: 500px;
}
.img-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
button {
  &:focus {
    border-radius: 4px;
    border: 1.3px solid #001529;
    outline: none;
  }
}
.img-container-btn {
  background-color: white;
  border: none;
  display: inline-block;
  height: 80px;
  transition: border 0.12s ease-in;
  width: 90px;
}
.tape-container {
  align-items: center;
  display: flex;
}
.arrow-btn {
  border-radius: 3px;
  font-size: 27px;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #1890ff;
  }
}
.colors {
  height: 30px;
  transition: transform 0.15s ease-in;
  width: 30px;
  &:hover {
    transform: scale(1.2);
    transition: transform 0.15s ease-in;
  }
}
.featuresDescr {
  color: #001529;
}

// List devices

.h2-top-sales {
  width: max-content;
  margin: 40px auto 40px;
}

.list-devices-main-cont-homepage {
  justify-content: space-around !important;
  margin-bottom: 40px;
}

.list-devices-main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .card-device-cont {
    margin: 10px;

    .card-device {
      width: 220px;
      margin-left: auto;
      margin-right: auto;
      // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      .ant-card-body {
        padding: 0 !important;
      }
      // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      .card-device-link-top {
        margin-top: 9%;

        .card-device-img {
          height: 212px;
          margin-left: auto;
          display: block;
          margin: auto;
        }
      }
      .card-device-description {
        margin-top: 5px;
        margin-left: 10px;
      }
      .card-device-title-span {
        font-size: 160%;
        display: block;
        margin: 5% 1% 5% 10px;
      }
      .card-device-btn-add-to-cart {
        margin-left: 15px;
        margin-bottom: 10px;
      }
    }
  }
}

// Cart Page

.cart-main-cont {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  .cart-list-block {
    display: flex;
    flex-direction: column;
    .card-cart {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.1rem;
      margin-bottom: 1%;
      background-color: white;
      .card-cart-linkcont-img {
        display: block;
        height: 185px;
        .card-cart-img {
          height: 100%;
        }
      }

      .card-cart-cont-counterprice {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-cart-counter {
          display: flex;
          .card-cart-counter-btn {
            width: 34px;
            height: 34px;
            border: 1px solid #e6e6e6;
            background-color: white;
          }
        }
      }

      .card-cart-title {
        margin-right: auto;
        font-size: 0.9rem;
        margin-left: 2%;
      }
      .card-cart-deletebtn {
        margin-right: 2px;
        margin-bottom: auto;
        margin-top: 2px;
      }
    }
  }
  .cart-totals {
    margin-left: 30px;
    height: 350px;
    background-color: white;
    padding: 10px;
    .cart-totals-table {
      width: 100%;
      height: 200px;
      border-bottom: 1px solid;
      .cart-totals-table-tbody {
        font-size: 1.2em;
        .cart-totals-table-tbody-tr {
          font-size: 1.4em;
        }
      }
    }
    .cart-totals-btn-prcd-to-chckt {
      margin-top: 20px;
    }
  }
}

// Checkout Page

.empty-cart-h5 {
  background-color: white;
  height: 100px;
  padding-top: 1%;
  margin-right: 70%;
}

.checkout-main-cont {
  display: flex;
  justify-content: space-around;
  margin: 2% 10% 0 10%;
  .checkout-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    padding: 1.5%;
    .checkout-form-title-usa {
      margin: 0;
    }
    .checkout-form-sbmt-btn {
      margin-top: 20px;
      width: 100px;
    }
  }
  .checkout-table-cont {
    width: 40%;
    margin-left: 30px;
    background-color: white;
    padding: 10px;
    .checkout-table {
      width: 100%;
      height: 330px;
      border-bottom: 1px solid;
      .checkout-table-tbody {
      }
      .checkout-table-tfoot {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}

// NavBar.

.main-mobile-menu {
  position: relative;
  .h5-mobile-menu,
  .h6-mobile-menu {
    display: inline;
  }
}

.submenu-title {
  padding-left: 25px !important;
  width: 180px !important;
  z-index: 1000 !important;
  position: absolute !important;
  margin: 0 !important;
  &::after {
    display: none;
  }
}

.test-pest {
  padding-left: 32px !important;
}
// .ant-menu-submenu-title {
//   padding-left: 24px;
//   width: 180px;
//   position: absolute;
//   margin: 0;
//   background-color: inherit;
// }

// Media queries
@mobile-max-width-768: ~"(max-width: 768px)";
@mobile-max-width-500: ~"(max-width: 500px)";

@media @mobile-max-width-768 {
  .cont-description {
    width: 95%;
    font-size: 1em;
  }
  .cont-imgcarousel-and-featuresblock {
    flex-direction: column;
    .img-carousel {
      width: 100%;
      .tape-container {
        @media @mobile-max-width-500 {
          width: 100%;
          span {
            display: none;
          }
          .img-container-btn {
            flex-grow: 1;
          }
        }
      }
      .container-product-slider {
        width: 100%;
        @media @mobile-max-width-500 {
          height: 289px;
          .secondary-container {
            &-0,
            &-500,
            &-1000,
            &-1500 {
              height: 100%;
              .img-container {
                height: 100%;
              }
            }
          }
        }
        .secondary-container {
          &-0 {
            transform: translateX(0);
            transition: transform 0.5s ease-in;
          }
          &-500 {
            transform: translateX(-100%);
            transition: transform 0.5s ease-in;
          }
          &-1000 {
            transform: translateX(-200%);
            transition: transform 0.5s ease-in;
          }
          &-1500 {
            transform: translateX(-300%);
            transition: transform 0.5s ease-in;
          }
        }
        div {
          .img-container {
            width: 100%;
          }
        }
      }
    }
    .features-block {
      .features-block-h1 {
        font-size: 1.7rem;
        margin-top: 10%;
      }
      .features-block-btn-addtocart {
        order: 1;
      }
      .features-block-anchor-to-descr {
        display: none;
      }
    }
  }
  .main-header,
  .sidebar {
    display: none;
  }

  .mobile-header {
    display: flex;
  }
  .auto-complete {
    width: 180px;
    margin-left: auto;
  }

  .list-devices-main-cont {
    display: flex;
    max-width: 100%;

    .card-device-cont {
      width: 50%;
      max-width: 100%;
      margin: 0;

      .card-device {
        width: initial;
      }
    }
  }
  .card-device-img {
    height: 145px !important;
  }

  .cart-main-cont {
    flex-direction: column;
    margin: 0;
    .cart-list-block {
      .card-cart {
        height: 130px;
        margin-bottom: 8px;
        position: relative;
        .card-cart-linkcont-img {
          height: auto;
        }
        .card-cart-title {
          font-size: 0.8rem;
        }
        .card-cart-img {
          width: 77px;
        }
        .card-cart-cont-counterprice {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: auto;
          margin-right: 2px;
          .card-cart-counter {
            .card-cart-counter-btn {
              width: 22px;
              height: 22px;
              padding: 0;
            }
          }
          .card-cart-price {
            margin-bottom: 0;
          }
        }
        .card-cart-deletebtn {
          position: absolute;
          margin-right: 0;
          top: 2px;
          right: 2px;
        }
      }
    }
    .cart-totals {
      margin-left: 0;
      padding: 15px;
    }
  }
  .checkout-main-cont {
    flex-direction: column-reverse;
    margin: 0;
    .checkout-form {
      margin-top: 15px;
      padding: 20px;
      width: auto;
    }
    .checkout-table-cont {
      width: auto;
      margin: 0;
      padding: 20px;
    }
  }
  .empty-cart-h5 {
    margin: 0;
  }
  .home-carousel-slide-ant {
    .home-carousel-slide-own {
      .home-carousel-slide-imgtitle {
        font-size: 1.8em;
      }
    }
  }
}
